body {
    margin:0;
    overflow :hidden;
    font-size:14;

}

.container{
    height:100vh;
    
}
.title-bar{
    height:5vh;
    background-color :#107c41;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}
.menu-bar{
    height:5vh;
    background-color :#107c41;
    display:flex;
    
}
.menu-item{
    padding-left:10px;
    padding-right:10px;
    color :white;
    font-size:18;
    display:flex;
    align-items:center;
}
.menu-item.selected{
    background-color:#fff;
    color:#107c41;
}
.menu-item:hover{
    background-color:#0c5e31;
    cursor:pointer;
}
.menu-item.selected:hover{
    background-color:#fff;
    cursor:default;
}
.menu-icon-bar{
    height:6vh;
    background-color:rgb(241,241,241);
    display:flex;
    align-items:center;
}
.menu-icon{
padding-left:10px;
padding-right:10px;
height:100%;
display:flex;
align-items:center;
}
.menu-icon:hover{
    background-color:lightgray;
    cursor:pointer;
}
.font-family-selector{
    width:150px;
}
.selector{
    height:30px;
    font-size:18px;
}
.selector option{
    font-size:18px;
}
.formula-bar{
    height:5vh;
}
.data-container{
    height:75vh;
    display: flex;
    flex-wrap: wrap;
}
.column-name{
    width:100px;
    display:flex;
    justify-content:center;
    border-right:1px solid lightgray;
    font-weight:"bold";
}
.select-all{
    width:30px;
    height:30px;
    border:1px solid lightgray;
}
.column-name-container{
    width: calc(100vw - 40px);
    height:30px;
    border:1px solid lightgray;
    display:flex; 
}
.row-name-container{
    width:30px;
    height:calc(75vh- 40px);
    border:1px solid lightgray;
    overflow:hidden;
}
.input-cell-container{
    width: calc(100vw - 40px);
    height: calc(75vh - 30px);
    border:1px solid lightgray;
}
.sheet-bar{
    height:4vh;
    display:flex;
    align-items:center;
}
.scroller{
    width:70px;
}
.icon-left-scroll, .icon-right-scroll{
    font-size:30px;
}
.icon-left-scroll, .icon-right-scroll:hover{
    background-color:lightgray;
    cursor:pointer;
}
.icon-add{
    color:#107c41;
    margin-left:10px;
    margin-right:10px;
    width:40px;
}
.icon-add:hover{
    cursor:pointer;
    transform:scale(1.2);
}
.sheet-tab-container{
    border:1px solid lightgray;
    width:calc(100vw-110px);
}
.sheet-tab{
    border-bottom:4px solid #107c41;
    padding-left:10px;
    padding-right:10px;
    display:flex;
    width:80px;
    align-items:center;
    justify-content:center;
    font-weight:600;
    border-right:1px solid lightgray;
}
.sheet-tab:hover{
    cursor:default;
}